@{ ViewData["Title"] = "Home Page"; }
<!-- (Developer version) -->
<script src="~/signalr.min.js"></script>
<div id="app"></div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
